// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-yellow: #f7f4d9;
$light-gray: #e0e0e0;
$link-blue: #6581f2;

body {
  font-family: sans-serif;
}

p {
  font-size: 1.2rem;
}

.name {
  font-style: italic;
}

.question-container {
  margin-top: 30px;
  padding: 8px 0 8px 16px;
  border-left: 10px solid $light-gray;
}

.answer-container {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 8px 0 8px 16px;
  border-left: 10px solid $light-gray;
  background-color: $light-yellow;
}

a {
  text-decoration: none;
  color: $link-blue;
  &:hover {
    color: lightblue;
  }
}